@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-slide {
    animation: slide 10s linear infinite;
}